<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>收集表单</title>
    <script type="text/javascript" src="../js/vue.js"></script>
</head>

<body>
    <!-- 
        表单数据收集:
            1. <input type='text'/> v-model收集value值，用户输入的是value值.
            2. <input type='radio'/> v-model收集的是value值，用户输入的是value值.
            3. <input type='checkbox' />
                1. 没有配置input的value属性，那么收集的是checked(勾选)
                2. 配置了input的value属性.
                    1. v-model的初始值是非数组，那么收集的就是checked(勾选 or 未勾选， 布尔值)
                    2. v-model的初始值是数组，收集的value组成的数组.
        修饰符:
            v-model.number修饰符:数字的输入方法:
                <input type="number" v-model.number="userInfo.age">
            v-model.lazy
            @submit.prevent: 取消缺省行为.
            v-model.trim: 去掉前后的空格
     -->
    <div id="root">
        <form @submit.prevent="demo">
            <label for="account">账号:</label>
            <input type="text" id="account" v-model="userInfo.account"><br>

            密码: <input type="password" v-model="userInfo.password"><br>
            年龄: <input type="number" v-model.number="userInfo.age"><br><br>
            性别:
            男<input type="radio" name="sex" v-model="userInfo.sex" value="male">
            女<input type="radio" name="sex" v-model="userInfo.sex" value="female"><br>
            爱好:
            学习<input type="checkbox" v-model="userInfo.hobby" value="study">
            打游戏<input type="checkbox" v-model="userInfo.hobby" value="game">
            吃饭<input type="checkbox" v-model="userInfo.hobby" value="eat">
            <br>
            所属校区
            <select v-model="userInfo.city">
                <option value="">请选择校区</option>
                <option value="beijing">北京</option>
                <option value="shanghai">上海</option>
                <option value="guangzhou">广州</option>
                <option value="wuhan">武汉</option>
            </select>
            <br><br>
            其他信息:<br>
            <textarea v-model="userInfo.other"></textarea>
            <br><br>
            <input type="checkbox" v-model="userInfo.agree">阅读并接受<a href="www.baidu.com">用户协议</a>
            <button>提交</button>
        </form>
    </div>

</body>
<script type="text/javascript">
    const vm = new Vue({
        el: '#root',
        data: {
            userInfo: {
                account: '',
                password: '',
                age: '',
                sex: 'female',
                hobby: [],
                city: 'beijing',
                other: '',
                agree: 'false'
            }

        },
        methods: {
            demo() {
                console.log(JSON.stringify(this.userInfo))
            }
        },
    })
</script>

</html>