<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>列表过滤</title>
    <script type="text/javascript" src="../js/vue.js">

    </script>
</head>

<body>
    <!--
        1. 使用V-for指令 可以遍历数组，字符串，对象和指定次数
        2. key:给DOM节点做标志.
    -->
    <div id="root">
        <h2>人员列表</h2>
        <input type="text" placeholder="请输入名字" v-model="keyword">
        <ul>
            <!--  多个参数加个小括号  遍历列表/数组
                1. key不能用index(对数据进行破坏顺序的操作会出问题).应该使用p.id(唯一)
            -->
            <li v-for="(p, index) in result" :key="p.id">
                {{p.name}}-{{p.age}}--{{p.sex}}
            </li>
        </ul>
    </div>

</body>
<script type="text/javascript">
    //watch 来实现.
    /*
    new Vue({
        el: '#root',
        data: {
            keyword: '',
            persons: [
                { id: '001', name: "马冬梅", age: 18, sex: '女' },
                { id: '002', name: "周冬雨", age: 19, sex: '男' },
                { id: '003', name: "周杰伦", age: 20, sex: '男' },
                { id: '004', name: "温兆伦", age: 20, sex: '女' },
            ],
            result: []
        },
        methods: {
        },
        watch: {
            /*
            keyword(newVal){
                console.log('keyword=', newVal)
                this.result = this.persons.filter((p) => {
                    return p.name.indexOf(newVal) !== -1
                })
            }*/
            /*
            keyword: {
                immediate: true,
                handler(newVal) {
                    this.result = this.persons.filter((p) => {
                        return p.name.indexOf(newVal) !== -1
                    })
                }
            }
        }
    })
    */
   new Vue({
    el: '#root',
    data: {
            keyword: '',
            persons: [
                { id: '001', name: "马冬梅", age: 18, sex: '女' },
                { id: '002', name: "周冬雨", age: 19, sex: '男' },
                { id: '003', name: "周杰伦", age: 20, sex: '男' },
                { id: '004', name: "温兆伦", age: 20, sex: '女' },
            ]
        },
        methods: {
        },
        computed:{
            result(){
                return this.persons.filter((p) => {
                        return p.name.indexOf(this.keyword) !== -1
                    })
            }
        }
   })

</script>

</html>