<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>姓名Methods</title>
    <script type="text/javascript" src="../js/vue.js"></script>
</head>

<body>
    <!--
        组件模板应该只包含简单的表达式，复杂的表达式则应该重构为计算属性或方法(methods)。
        复杂表达式会让你的模板变得不那么声明式。
        我们应该尽量描述应该出现的是什么，而非如何计算那个值。而且计算属性和方法使得代码可以重用

        计算属性:
            现有属性计算出来新的属性.

    -->
    <div id="root">
        <!--姓:<input type="text" :value="firstName">-->
        姓:<input type="text" v-model="firstName">
        <br><br>
        <!--名:<input type="text" :value="lastName">-->
        名:<input type="text" v-model="lastName">
        <br>
        姓名:<span>{{fullName}}</span>
        <br>
    </div>
    
</body>
<script type="text/javascript">
    const vm = new Vue({
        el: '#root',
        data: {
            firstName: '张',
            lastName: '三'
        },
        computed: {
            fullName:{
                //get:当有人读取fullName时，get会被调用.
                //调用时: 1. 初次读取fullName时 2. 所依赖的数据发生变化时.
                get() {
                    console.log('get 被调用了')
                    return this.firstName + this.lastName
                },
                //fullName
                set(value) {
                    console.log('set 被调用')
                    const arr = value.split('-')
                    this.firstName = arr[0]
                    this.lastName = arr[1]
                }
            }
        }

    })
</script>
</html>